.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
/.quarto/
/Baseline Testing/BaselineDataTesting_cache/
/Baseline Testing/Simulated Mixtures/sim_mix.rds
/Landscape Covariates/Watershed Delineation/Working/
/Landscape Covariates/DEM/
/Landscape Covariates/Barriers/SARP Waterfalls/Archive_Falls_Mar082024.gdb
/Obj1 Spatiotemporal Var/Candidate model outputs/
/Obj1 Spatiotemporal Var/SpaceTimeZOID_cache/
/Obj2 Model Contribution/ModelContributionZOIB_cache/
CombinedFigures.pptx
