.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
/.quarto/
/Baseline Testing/BaselineDataTesting_cache/
/Baseline Testing/Simulated Mixtures/sim_mix.rds
/Landscape Covariates/Watershed Delineation/Working/
/Landscape Covariates/DEM/
/Landscape Covariates/Barriers/
